[Desktop Entry]
Encoding=UTF-8
Name=Pivx
Comment=Pivx P2P Cryptocurrency
Comment[fr]=Pivx, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pivx, eşten eşe kriptografik sanal para birimi
Exec=totum-qt %u
Terminal=false
Type=Application
Icon=totum128
MimeType=x-scheme-handler/totum;
Categories=Office;Finance;
